.cont {
    width: 100%;
    display: inline-block; 
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: #fcfcfc;
    margin-bottom: 20px;
    height: responsive;
}

image {
    pointer-events: none;
  }

.cont p {
    text-align: left;
    margin-right: 25px;
    margin-left: 25px;
}

.cont .profilePic {
    margin: 15px auto;
    border-style: solid;
    pointer-events: none;
}

.cont a {
    text-decoration: none;
    padding: 5px;
    margin-left: 8px;
    border-color: #1496BB transparent;
    border-width: 6px 6px 0 6px;
    text-align: left;
    
}

#text-part {
    margin: auto;
    margin-left: 4%;
    margin-bottom: 3%;
    text-align: left;
}

.program_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 3%;
    margin: 10px;
}